
@font-face {
    font-family: "flood-std";
    src: url("fonts/FloodStd.otf");

    }
body {
    margin:0;
    font-family:Helvetica, sans-serif;
}
header{
    width: 100%;
    margin-bottom: 1vw;
}
.container {
    margin: 0 10% 0 10%;
    width: 80%;
    display: flex;
    flex-flow: row wrap;

}

.title{
    width: 20%;
    height: 100%;
    font-size: 1.5vw;
}
.nav{
    margin-left: 10%;
    width: 50%;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
}
.nav-items{
    font-size: 1.1vw;
    width:auto;
    height: auto;
    align-content: center;
}
.donate-today{
    width: 20%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
}
.button{
   
    background: #C1F7D5;
    border-radius: 1em;
    width: auto;
    height: auto;
    font-size: 1.1vw;
    padding: .5vw;
    
}
.hero {
    background-image: url("images/background.png");
    background-repeat: no-repeat; 
    background-size: 100%  auto;
    width: 100%;
    height: auto;
    padding-top: 7vw;
    padding-bottom: 7vw;
    text-align: center;
    align-content: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.hero-issue {
    width: 35%;
    background-color: white;
    padding: 2vw 4vw;
}
.hero-issue-heading{
    position: relative;
    top: -3vw;
    width: 40%;
    height: 4vh;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 1.5vw;
}
.hero-issue > h1 {
    font-size: 2.5vw;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0;
    font-weight: bold;
    text-align: left;
    
}

.hero-issue > a{
    color: black;
    font-size: 1.1vw;
    float: left;
    margin-top: 3vw;
}
.hero-slogan{
    
    font-family: flood-std, sans-serif;
    color: white;
    font-size: 4vw;
    width: 35%;
    margin-left: 4rem;
}
.take-action {
    width: 100%;
    height: auto;
    background-color: #C1F7D5;
    padding-top: 1vw;
    padding-bottom: 1vw;
}
.take-action-heading{
    position: relative;
    top:-2vw;
    left:43%;
    background-color: black;
    color:white;
    padding: 1vw;

}
.take-action-objective{
    width: 100%;
    display:flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.take-action-item-heading{
    font-weight: bold;
    font-size: 2vw;
}
.take-action-objective-items
{
    width:20%;
    font-size:1vw; 
}
.mission {
    background-color: #354463;
    width: 100%;
    height: auto;
    padding-top:5vw;
    padding-bottom: 5vw;
}
.mission-heading{
    background-color:white;
    padding:1vw;
    font-size: 1vw;  
}
.mission-description{
    width: 100%;
    color: white;
    font-size: 3.1vw;
    padding-top: 2vw;
}
.mission-description-cards{
    margin-top: 8vw;

    width:100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.card{
    width: 27%;
    background-color: white;
    height: auto;
    padding-bottom: 1vw;
    display: flex;
    flex-flow: row wrap;

}
.card > img{
    width: 100%;
    height: 40%;
    margin-left: 2vw;
    margin-top: -2vw;
}
.card-heading{
    font-size: 2vw;
    
}
.card-paragraph {
    font-weight: normal;
    font-size: 1.1vw;
}
.card-text {
    margin-left: 2vw;
    margin-right: 2vw;
}
.read-more {
    margin-left:2vw;
}
.read-more > .button{
    padding: 1vw;
    padding-left: 1.4vw;
}
.reports{
    background-image: url("images/Did you know background@2x.png");
    background-repeat: no-repeat; 
    background-size: 100%  100%;
    width: 100%;
    height: auto;
}
.reports-tagline{
    width: 50%;
    height: auto;
    padding-top:8vw;
    padding-bottom: 2vw;
}
.reports-tagline > .hero-slogan{
    margin: 0;
    font-size: 5vw;
}
.report-button{
    width: 34%;
    text-align: center;
    margin-top: 5vw;
}
.report-button > .button{
    font-size: 2vw;
}
.report-cards{
    width: 50%;
    height: auto;
    padding-top:8vw;
    padding-bottom: 2vw;
}
.report-card{
    position: relative;
    width: 100%;
    height: 20vw;
    margin-bottom: 3vw;
    background-color: white;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}
.report-card-heading-box{
    position: absolute;
    top: -1vw;
    left:15%;
    width: fit-content;
    padding: .5vw;
    height: fit-content;
    font-size: 1.2vw;
    background-color: black;
    color: white;
}
.report-card-heading{
    width: 60%;
    height: 100%;
    padding: 3vw;
    padding-right: 0;
}
.report-card-icon{
    width: 7%;
}
.report-card-heading > h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.0em;
    margin-block-end: 0.0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.report-card-heading > p {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.report-card-icon > img {
    background-color:#C1F7D5;
    padding: 1.2vw;
    border-radius: 4vw;
    margin-bottom: 2vw;
}
@media screen and (max-width: 768px) {
    .title{
        width: 40%;
        font-size: 2.5vw;
        
    }
    .nav{
        margin-left: 0%;
        width:80%;
        order:1;
    }
    .nav-items{
        font-size: 2vw;
    }
    .donate-today{
        width:60%;
    }
    .button{
        font-size:2vw;
    }
    .hero {
        background-image: url("images/tabbg.png");
    }
    .hero-slogan{
        order: -1;
        margin-left: 0;
        text-align: left;
        margin-bottom: 4vw;
        font-size: 7vw;
    }
    .hero-issue{
        width: auto;
    }
    .hero-issue-heading{
        font-size:2.5vw;
    }
    .hero-issue > h1 {
        font-size: 4vw;       
    }
    .hero-issue > a {
        font-size: 2vw;       
    }
    .take-action-item-heading{
        font-weight: bold;
    }
    .take-action-objective-items
    {
        width:40%;
        font-size:1.5vw; 
    }
    .take-action-heading{
        font-size: 1.5vw;
    }
    .mission-heading {
        font-size: 1.8vw;
    }
    .mission-description {
        font-size: 4.5vw;
    }
    .card {
        width: 100%;
        height: 32vw;
        display: flex;
        flex-flow: row-reverse wrap;
        margin-bottom: 8vw;
        position: relative;
    }
    .card-heading{
        font-size: 3vw;
        padding: 1vw;
    }
    .card > img {
        width: 55%;
        height: 26vw;
        position: absolute;
        top: -4vw;
        left: 5vw;
    }
    .card-text {
        margin-left: 0vw;
        margin-right: 0vw;
        font-size: 1.3vw;
        width: 36%;
        height: auto;
        display: flex;
        flex-flow: column nowrap;
    }
    .card-paragraph{
        font-size: 2vw;
        padding: 2vw;
    }
    .read-more{
        position: relative;
        align-self: flex-end;
        bottom: 1vw;
    }
    .read-more > .button {
        padding:2vw;
    }
    .report-card-heading > h1{
        font-size: 3vw;
    }
    .report-card-heading > p {
        font-size: 2vw;
    }
    
  }

  @media screen and (max-width: 480px) {
      .title{
          width: 75%;
          font-size: 5vw;
      }
      .nav{
        order: 0;
        width: 25%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-end;
        align-items: baseline;
      }
      .nav-items{
          font-size: 3vw;
      }
      .button{
          font-size: 3vw;
          width: 70%;
          text-align: center;
      }

      .donate-today{
        order: 0;
        width: 100%;
        margin: 0;
        justify-content: center;
      }
      .hero-slogan{
        order: -1;
        margin-left: 0;
        text-align: left;
        margin-bottom: 4vw;
        font-size: 8vw;
    }
    .hero-issue{
        width: auto;
    }
    .hero-issue-heading{
        font-size:4vw;
    }
    .hero-issue > h1 {
        font-size: 4vw; 
        margin-inline-end: 0;      
    }
    .hero-issue > a {
        font-size: 3vw;       
    }
    .take-action-item-heading{
        font-weight: bold;
        font-size:2vw;
    }
    .take-action-objective-items
    {
        width:40%;
        font-size:1.8vw; 
    }
    .mission > .container {
        justify-content: center;
    }
    .card {
        height: auto;
        flex-flow: row wrap;
        justify-content: center;
    }
    .card > img {
        width: 62%;
        height: 10vh;
        position: relative;
        margin: 0;
        top: -6vw;
        left: 0;
    }
    .card-text{
        width: 60%;
        }
    .read-more{
        width: 45%;
    position: unset;
    }
    .reports-tagline{
        width: 100%;
    }
    .report-cards{
        width: 100%;
    }
    .report-card-heading-box{
        left: 30%;
        font-size: 3vw;
    }
    .report-card-heading > h1{
        font-size: 3vw;
    }
    .report-card-heading > p {
        font-size: 2.5vw;
    }
    .reports-tagline > .hero-slogan {
        width: 100%;
        font-size: 10vw;
    }
    .report-button{
        width: 46%;
    }
    .report-button > .button {
        font-size: 4vw;
    }
  }